.App {
  font-family: sans-serif;
  text-align: center;
  width: 90vw;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 800px) {
  .App{
    grid-template-columns: repeat(5, 1fr);
  }
}

.container{
max-width: 500px;
margin: 30px auto;
overflow: auto;
min-height: 300px;
border: 1px solid black;
padding: 30px;
border-radius: 5px;
}

.btn{
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.navlist{
  background-color: #282c34;
  color: white;
  border-radius: 10px;
  width: max-content;
  text-align: center;
  display: flex;
  margin: 20px;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style-type: none
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
